
body{
	background-color: green;
}
#head1 {
	background-color: #666;
	float:left;
	margin-right: 800px;
	font-size: 50px;

}
#head2{
	float:left;
}

#sec1{
	background-color: #333;
	clear:both;
	float:left;

}

form{

}

#sec2{
background-color: #321;
padding:20px;
margin:30px;
float:left;
}

#sec3{
	clear:both;
	background-color:#666;
}